<div fxLayoutAlign="center center">

  <mat-card style="width: 500px;">
    <mat-card-title>Login</mat-card-title>

    <div class="login" fxLayout="column" style="padding: 1em;">

      <mat-form-field>
        <mat-icon matPrefix>email</mat-icon>
        <input type="email" matInput placeholder="e-mail">
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix>lock</mat-icon>
        <input type="password" matInput placeholder="password">
      </mat-form-field>

    </div>

    <mat-card-actions fxLayoutAlign="end center">
      <button mat-button>Login</button>
    </mat-card-actions>

  </mat-card>

</div>
